<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-logo" src="{$basePath}/www/images/doge.jpg" alt="doge">
      <a class="navbar-brand" href="{plink Homepage:default}">Shiba doge bot v0.1</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {ifCurrent Homepage:default} class="active" {/ifCurrent}{ifCurrent Article:default} class="active" {/ifCurrent}><a href="{plink Homepage:default}">Posts</a></li>
        <li {ifCurrent About:default} class="active" {/ifCurrent}><a href="{plink About:default}">About</a></li>
        <li {ifCurrent Archive:default} class="active" {/ifCurrent}><a href="{plink Archive:default}">Archive</a></li>
        <li {ifCurrent Gallery:default} class="active" {/ifCurrent}><a href="{plink Gallery:default}">Gallery</a></li>
        <li {ifCurrent Contact:default} class="active" {/ifCurrent}><a href="{plink Contact:default}">Contact</a></li>
        {if $status}<li {ifCurrent Twitch:default} class="active" {/ifCurrent}><a href="{plink Twitch:default}">Twitch log chat</a></li>{/if}
      </ul>
      {if !$status}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{plink User:default}" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret nojs"></span></a>
			<ul id="login-dp" class="dropdown-menu nojs">
				<li>
					 <div class="row">
							<div class="col-md-12">
								 <form class="form" method="post" action="{$baseUrl}/user/login" accept-charset="UTF-8" id="signin">
										<div class="form-group">
											 <input name="csrf-token" value="{$csrf_token}" type="hidden" class="form-control">
											 <label class="sr-only" for="inputName">Name</label>
											 <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="inputPassword">Password</label>
											 <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block" id="send">Sign in</button>
											 <button type="submit" class="btn btn-primary btn-block" id="loading"><img alt="loading" src="{$basePath}/www/include/images/loading.gif"></button>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="{$baseUrl}/user/register"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
      {else}
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="{$baseUrl}/user/logout"><b>Logout</b></a></li>
      </ul>
      {/if}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>