<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login page | Shiba doge bot v0.1</title>

    <!-- Bootstrap -->
    <link href="{$basePath}/www/include/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/www/css/style.css" rel="stylesheet">
	<link href="{$basePath}/www/css/blog.css" rel="stylesheet">
	<link href="{$basePath}/www/css/login.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    <div class="container">
    	<div class="form-signin">
	    	<form class="box" method="post" action="login" id="signin">
	    	<h1 class="text-center">Sign in</h1>
	    	<p>
	    		<label class="sr-only">Name</label>
	    		<input value="{$csrf_token}" name="csrf-token" value="{$csrf_token}" type="hidden" class="form-control">
	    		<input value="{$name}" name="name" type="text" class="form-control" placeholder="Name" required autofocus\>
	    	</p>
	    	<p>
	    		<label class="sr-only">Password</label>
	    		<input name="password" type="password" class="form-control" placeholder="Password" required \>
	    		<label>New here? <a n:href="User:register">Join to us!</a></label>
	    	</p>
	    	
	    	<button class="btn btn-primary btn-block" type="submit">Sign in</button>
	    	</form>
    	</div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{$basePath}/www/include/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>